div {
  margin: 1ex;
}

input:focus {
  width: 100%;
}

#bottles {
  width: 40px;
}

#time {
  width: 40px;
}

label {
  display: inline-block;
}

output {
  font-size: large;
  font-weight: bolder;
}

button {
  margin-left: 1ex;
  margin-top: 1ex;
  background-color: #00ccff;
  border-radius: 4px;
  font-size: medium;
  font-weight: bolder;
  padding: 10px 10px;
}